<footer class="bg-black text-white p-3">

    <div class="container text-md-left">

        <div class="row text-md-left">

            <div class="col-md-4 col-lg-3 col-xl-3 text-center mx-auto mt-3">
                
                <h5 class="text-uppercase  mb-4 fw-bold" style="text-decoration: underline; text-underline-offset: 6px; text-decoration-thickness: 2px;" >Hacktop Rental</h5>
                <p class="text-secondary fw-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam error quibusdam hic vitae saepe. Vel ad, enim doloremque unde repellendus corporis distinctio!</p>
                
            </div>

            <div class="col-md-2 text-center col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold">Quick Links</h5>
                <p><a href="../pages/about.html" class="text-light fw-lighter" style="text-decoration: none;">About Us</a> </p>
                <p ><a href="../pages/products.html" class="text-light fw-lighter" style="text-decoration: none;">Products</a> </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 text-center mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 fw-bold text-center">contact</h5>
                <p class="text-white fw-lighter" style="text-decoration: none;"><i class="fa solid fa-envelope px-2"></i>email@email.com</p>
                <p class="text-white fw-lighter" style="text-decoration: none;"><i class="fa solid fa-phone px-2"></i>+62 123456789</p>
            </div>
        </div>
    </div>
    <div class="container"><p class="m-0 text-center text-white small fw-semibold">Copyright &copy; Hacktop Rental 2024</p></div>

</footer>